@use '@/mixins/field';
@import '@/mixins/colors';

.input_wrapper{
    @include field.field-container;

    flex: 1;

    &__label {
        @include field.field-label;
    }

    .input_container{
        cursor: text;
        width: 100%;
        
        .input:has(input:focus) {
            outline: 2px $primary solid;
        }

        .input:has(input:disabled) {
            cursor: default;
            background-color: $disabled;
        }

        .input {
            @include field.field;
            display: flex;
        }

        &__decoration {
            display: flex;
            align-items: center;
            left: 13px;
            color: #000000;
            font-weight: 600;

            pointer-events: none;
        }

        input {
            color: #000000;
            border: 0px;
            background-color: transparent;
            font-family: inherit;
            font-weight: 600;
            font-size: 1rem;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
          appearance: textfield;
        }
    }
}